failedTestNotify() {
	if which -s growlnotify; then 
		growlnotify -p 2 -a -t "Spec Results" -m "$1 Failing"
	fi
	
	if which -s mumbles-send; then
	  mumbles-send "Spec Results" "$1 Failing"
	fi
}

passedTestNotify() {
	if which -s growlnotify; then 
		growlnotify -p -2 -t "Spec Results" -m "$1 Passing"
	fi
	  
	if which -s mumbles-send; then
  	 mumbles-send "Spec Results" "$1 Passing"
	fi
}

{+TestClasses}
