@media screen
{
	select.select_body optgroup
	{
		font-style:normal;
		font-weight:bold;
		text-transform:uppercase;
	}

	select.select_body optgroup option
	{
		margin-left:10px;
		text-transform:none;
	}
}