<h1>{$Message->Subject}</h1>
<h2>by {$Message->User->FirstName} {$Message->User->LastName} <em>{$Message->Timestamp->FriendlyDate}</em></h2>
<div>
{$Message->Content}
</div>

{+Comments}

<a href="[=>$Entity,viewmessages]">Back</a>

{+AddCommentForm}