function {$ControlName}_OnFocus()
{
	$('{$ControlName}').fire("controls:titletextbox:focus", { labelText: '{$LabelText}' });
}

function {$ControlName}_OnBlur()
{
	$('{$ControlName}').fire("controls:titletextbox:blur", { labelText: '{$LabelText}' });
}

function {$ControlName}_OnLoad()
{
	$('{$ControlName}').fire("controls:titletextbox:load", { labelText: '{$LabelText}' });
}
