@media screen
{
	ul.tags_general
	{
		display:inline;
		line-height:30px;
	}
	
	ul.tags_general li
	{
		display:inline;
		padding:5px;
		background:#ddd;
		border-right:1px solid #bbb;
		border-bottom:1px solid #bbb;
		margin-right:10px;
	}
	
	ul.tags_general li img
	{
		margin-left:3px;
		cursor:pointer;
	}	
} 

