function {$ControlName}_Item_DeleteTag_OnClick(e)
{
	var clickedImage = e.element();
	var altParts;
	var tagID;
	var parameters;

	altParts = clickedImage.alt.split(':');
	tagID = altParts[1];

	if (confirm("Are you sure you want to delete this tag?"))
	{
		RaiseAJAXevent("{$ParentContainerName}", "DeleteTag", {'TargetTagID':tagID});
	}

}
