{!label.htm.template}

<div class="FormBlock">
  {+CardType}
</div>

<div class="FormBlock">
  {+NameOnCard}
</div>

<div class="FormBlock">
  {+CardNumber}
</div>

<div class="FormBlock">
  <label>Expires:</label>
  {+Month}{+Year}
</div>

<div class="FormBlock">
  {+CVV}
</div>
