<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{$ExceptionType}</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/error.css" type="text/css" media="screen" charset="utf-8" />

	<script src='/scriptaculous.js' type='text/javascript'></script>	
	<script type="text/javascript" charset="utf-8">
        function SetCurrent(index)
        {
            $$('.Current').each(function(s) {
                s.removeClassName('Current');
            });
            
            $('summary'+index).addClassName('Current');
            $('detail'+index).addClassName('Current');
        }

		function ShowDetail(index)
		{
			new Effect.ScrollTo('detail'+index);
		}
		
		function ShowSummary(index)
		{
			new Effect.ScrollTo('summary'+index);			
		}
	</script>
</head>

<body>
	<div id="MainContent" class="{$Severity}">
		<div id="Header">
			<h1><b>{$Severity}:</b> {$ExceptionType}</h1>
		</div>

		{$ExceptionOutput}

	</div>
</body>
</html>