function {$ControlName}_OnBlur()
{
	var isEntered;

	if ($('#{$ControlName}').val() == '')
	{
		isEntered = false;
	}
	else
	{
		isEntered = true;
	}

	if (isEntered)
	{
		RaiseAJAXevent('{$ParentControlName}', 'autocomplete', {'{$ControlName}': $('#{$ControlName}').val()});
	}
}