function {$ControlName}_ChooseCity(e)
{
	var target = e.element();

	$('{$ParentControlName}_CityStateZip').value = target.innerHTML;
	$('{$ParentControlName}_CountryCode').value = target.title;

    {$ParentControlName}_ClosePickList();
}