echo ""
echo "${BOLD}${FOREWHITE}{$TestClassName}${DEFAULTCOLOR}"

{+TestCases}
echo "" 

if [ "{$NumberPassing}" -gt "0" ]; then 
	passedTestNotify {$NumberPassing}
fi

if [ "{$NumberFailing}" -gt "0" ]; then 
	failedTestNotify {$NumberFailing}
fi 

{+FailedTests}

echo ""
echo "${BOLD}${FOREWHITE}{$TotalSpecs} Specifications, ${FOREGREEN}{$NumberPassing} Passed, ${FORERED}{$NumberFailing} Failed${DEFAULTCOLOR}"
echo "${FOREWHITE}Completed in {$ElapsedTime}${DEFAULTCOLOR}"
echo ""
