{+TagList}
{+DeleteTagID}

<p id="{$ControlName}_AddTag_Paragraph">
	&raquo; <a href="javascript:void(0);" id="{$ControlName}_AddTag">Add a Tag</a>
</p>

<div id="{$ControlName}_NewTag" class="tags_addtag" style="display:none;">
	{+NewTagText}
	{+NewTagSubmit}
	 or <a href="javascript:void(0);" id="{$ControlName}_CancelAddTag">close</a>
</div>