function {$ControlName}_OnFocus()
{
	{!titletextbox_onfocus.js.template}
}

function {$ControlName}_OnBlur()
{
	{!titletextbox_onblur.js.template}
}

function {$ControlName}_OnLoad()
{
	{!titletextbox_onload.js.template}
}