{$User->FirstName} {$User->LastName},

As you requested, we have updated your password.   The new username  
and password for your account are:

User: {$User->UserName}
Pass: {$NewPassword}

Regards,

Designing Interactive Team

