SetControlMessage('{$ControlName}_NewCommentContent','{$ValidationMessage}');

//Add the div for the new comment
$('{$ControlName}_MessageDetail_Comments').insert({bottom: '{$NewCommentDIV}'})

{$CommentDeleteObservers}

//Show the new div
new Effect.Appear('{$ControlName}_Comments_Item_{$NewCommentID}', {queue:'end'});

//Clear the Comment Content
$('{$ControlName}_NewCommentContent').value = '';
