	if ($('{$ControlName}').value == '{$LabelText}')
	{
		$('{$ControlName}').removeClassName('titletextbox_blank');
		$('{$ControlName}').value = '';
	}
	
	if (typeof {$ControlName}_OnFocusCallback=="function")
	{
		{$ControlName}_OnFocusCallback();
	}