ol.datanavigation_body
{
    text-align:center;
    margin:15px 0;
}

ol.datanavigation_body li
{
    display:inline;
    margin-right:0.5em;
}

li.datanavigation_currentpage
{
    font-weight:bold;
    font-size:1.4em;
    padding:2px;
}