function {$ControlName}_AutoComplete_Callback(element, entry)
{
	var returnValue;

	returnValue = entry + "&target={$ControlName}&method=autocomplete";

	//Clear any existing selection
	$('{$ControlName}').value = '';
	
	return returnValue;
}

function {$ControlName}_AutoComplete_afterUpdateElement(text, li)
{
	$('{$ControlName}').fire("controls:autocomplete:selected:callback", {selectedID: li.id});
	$('{$ControlName}').value = li.id;
}