{!label.htm.template}
<input type="text" id="{$ControlName}_query" class="autocomplete_textbox" name="{$ControlName}_query" value="{$TextBoxValue}" />
<input type="hidden" id="{$ControlName}" name="{$ControlName}" />
