var IsReplacement;

if ($('#{$ControlName}_PickList').length)
{
	{$ControlName}_ClosePickList();
	IsReplacement = true;
}

SetControlMessage('{$ControlName}', "");
$('#{$ControlName}').append('{$PickListHTML}');

{$PickListObservers}

if (IsReplacement)
{
	$('#{$ControlName}_PickList').effect("highlight", {}, 1500);
}